@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title+</h2>
<h3>@ViewBag.Message</h3>

<p>Access to cost and quality information before medical treatment lowers costs and improves outcomes. When people have the information they need, they become smart consumers, just like they do in every other part of their lives. The more accurate and comprehensive the information, the better healthcare works. This is healthcare transparency. But alone, it’s not enough.</p>
