@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Health Care Data</h1>
    <p class="lead">The Key to Overcoming the Challenges of Transparency in Healthcare is Visibility</p>
    <p><a href="#" class="btn btn-primary btn-lg">Discover  &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>QARR</h2>
        <p>
            Quality Assurance Reporting Requirements (QARR) Health Disparities
        </p>
        <p><a class="btn btn-default" href="data/qarr">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Medical Conduct Board Actions</h2>
        <p>All public actions taken against physicians, physician assistants, specialist assistants, and medical professional corporations pursuant to Section 230 of the New York State Public Health Law and Section 6530 of the New York State Education Law.</p>
        <p><a class="btn btn-default" href="data/mcba">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hospital Inpatient Cost Transparency</h2>
        <p>The dataset contains information on the volume of discharges, All Payer Refined Diagnosis Related Group (APR-DRG), the severity of illness level (SOI), medical or surgical classification the median charge, median cost, average charge and average cost per discharge. </p>
        <p><a class="btn btn-default" href="Data/inpatientcost">Learn more &raquo;</a></p>
    </div>
</div>